body {
    width: 100%;
    height: 100%;
    margin: 0px;
    color: #f0f2f4;
    font-family:'Baskervville', serif;
    font-size: 14px;
   background-image: url(projectpic.jpg);
    background-size:cover;
    background-position:no-repeat;
    display: block;
  }

.inline{
align-items:center;
position:relative;
background-color:green;
display:inline;
 width: unset;
 margin: 0 0.5em;
}

form {
  width:100%;
  margin:2px;
  padding-bottom: 2em;
}

.group-form{
margin: auto;

}

 p {
    margin: 1em auto;
    text-align:left;
    font-size:20px;

  }

  h1{
    margin: 1em auto;
    text-align: center;
    font-weight:bolder;
    font-family:"Raleway",sans; 
   font-size:auto;

}

.page{
    margin: 1em auto;
    text-align:center;
    font-size:22px;

  }

div{

    background-color: #1b1b32;
}